.searchToolSec,
.courseListSec,
.detailInfoSec {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  border-radius: 5px;
  background: #f7f7f7;
  box-sizing: border-box;
}

.searchToolSec {
  min-width: 240px;
  max-width: 260px;
  width: calc(24vw);
}

.courseListSec {
  min-width: 330px;
  max-width: 360px;
  width: calc(26vw);
  margin: 0 8px;
}

.detailInfoSec {
  min-width: 700px;
  width: calc(60vw - 12px);
}

.sectionTitle {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  height: 60px;
  width: 100%;
  background: #0479a8;
  border-radius: 5px 5px 0 0;
  padding-left: 16px;
  box-sizing: border-box;
  user-select: none;
}

.searchSetting {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 76px);
  margin-top: 16px;
  box-sizing: border-box;
}

.settingText {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 8px;
}

.tagSetting,
.tagInput,
.chosenTags {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 16px;
  user-select: none;
}

.chosenTags {
  margin-right: 0;
  height: calc(100% - 260px);
}

#modeSelect,
#keywordInput {
  height: auto;
  width: 100%;
  color: #494949;
  font-size: 20px;
  padding: 8px 0;
  border-color: transparent;
  outline: none;
  box-sizing: border-box;
  border-bottom: 1px solid #adadad;
}

#modeSelect:focus-visible,
#keywordInput:focus-visible {
  border-bottom: 1px solid #0479a8;
}

.alert {
  color: rgb(197, 5, 12);
  font-size: 14px;
  position: absolute;
  left: 0px;
  bottom: -24px;
}

.keywordList {
  position: relative;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  margin-top: 8px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.currentKeyword:hover {
  z-index: 100;
}

.currentKeyword {
  position: relative;
  display: flex;
  box-sizing: border-box;
  height: 40px;
  width: fit-content;
  margin: 2px 8px 4px 0;
  padding: 6px 24px 0 8px;
  border: 1px solid;
  font-size: 20px;
  color: #0479a8;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 0 0 rgb(0 0 0 / 20%), 0 0 0 0 rgb(0 0 0 / 14%),
    0 0 0 0 rgb(0 0 0 / 12%);
  user-select: text;
  cursor: pointer;
}

.currentKeyword:hover {
  border-color: rgba(0, 0, 0, 0.3);
}

.removeBtn {
  display: none;
}
.currentKeyword:hover .removeBtn {
  display: flex;
  position: absolute;
  right: 6px;
  top: 6px;
  font-size: 18px;
  color: #c5050c;
  user-select: none;
}

.removeBtn:hover {
  font-weight: bold;
}

.courseList {
  display: flex;
  flex-direction: column;
  height: calc(100% - 60px);
  width: 100%;
  padding-bottom: 8px;
  box-sizing: border-box;
  overflow-y: scroll;
}

.courseInfo,
.courseSelected {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 126px;
  max-height: 126px;
  width: 100%;
  padding: 24px 0 16px 16px;
  border-bottom: 1px solid #e8e9ef;
  box-sizing: border-box;
  cursor: pointer;
}

.courseSelected {
  background: rgba(4, 121, 168, 0.1);
}

.courseInfo:hover {
  background: rgba(4, 121, 168, 0.06);
}

.courseInfo .number,
.courseSelected .number {
  position: relative;
  display: flex;
  font-size: 24px;
  font-weight: 700;
  color: #282728;
  transition: all 0.1s linear;
}

.courseSelected .number {
  padding-left: 16px;
  transition: all 0.1s linear;
}

.courseInfo .number::before,
.courseSelected .number::before {
  position: absolute;
  content: "";
  top: 4px;
  left: 0;
  height: 22px;
  background: #0479a8;
  border-radius: 2px;
  transition: all 0.1s linear;
}
.courseInfo .number::before {
  width: 0;
}
.courseSelected .number::before {
  width: 6px;
}

.courseInfo .name,
.courseSelected .name {
  margin: 8px 16px 8px 0;
  color: #494949;
  line-height: 28px;
}

.courseInfo .credits,
.courseSelected .credits {
  margin-top: 1px;
  right: 26px;
  position: absolute;
}

.courseInfo .creditNum,
.courseSelected .creditNum {
  font-size: 22px;
  font-weight: 700;
  color: #0479a8;
}

.detailInfo {
  display: flex;
  flex-direction: column;
  padding: 16px 0;
  width: 100%;
  height: calc(100% - 60px);
  overflow-y: scroll;
  box-sizing: border-box;
}

.detailInfo .secShowBtn,
.detailInfo .secHideBtn {
  height: 38px;
  width: 160px;
  text-align: center;
  padding: 6px 0 8px;
  margin-top: 16px;
  margin-left: 2px;
  border-radius: 5px;
  user-select: none;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  background-color: #0479a8;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
  transition: box-shadow 200ms linear;
  cursor: pointer;
  box-sizing: border-box;
}

.detailInfo .secHideBtn {
  color: #0479a8;
  background-color: rgba(4, 121, 168, 0.04);
  border: 1px solid #0479a8;
}

.detailInfo .secShowBtn:hover,
.detailInfo .secHideBtn:hover {
  box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%),
    0 3px 14px 2px rgb(0 0 0 / 12%);
  transition: box-shadow 200ms linear;
}

.detailInfo .removeAll,
.detailInfo .addAll {
  height: 38px;
  width: 240px;
  text-align: center;
  padding: 6px 0 8px;
  margin-top: 16px;
  margin-left: 16px;
  border-radius: 5px;
  user-select: none;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  background-color: #0479a8;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
  transition: box-shadow 200ms linear;
  cursor: pointer;
  box-sizing: border-box;
}

.detailInfo .removeAll {
  color: #c5050c;
  background-color: rgba(197, 5, 12, 0.04);
  border: 1px solid #c5050c;
}

.detailInfo .removeAll:hover,
.detailInfo .addAll:hover {
  box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%),
    0 3px 14px 2px rgb(0 0 0 / 12%);
  transition: box-shadow 200ms linear;
}

.detailInfo .name {
  display: flex;
  margin-top: 8px;
  padding: 0 16px;
  font-size: 26px;
  font-weight: 700;
  color: #282728;
}

.detailInfo .favHeart,
.detailInfo .favHeart_checked {
  position: relative;
  margin-top: 8px;
  margin-left: 24px;
  width: 18px;
  height: 18px;
  border-left: solid 1px #c5050c;
  border-bottom: solid 1px #c5050c;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  cursor: pointer;
}
.detailInfo .favHeart::before,
.detailInfo .favHeart_checked::before {
  content: "";
  position: absolute;
  top: -9px;
  left: -1px;
  width: 15px;
  height: 10px;
  border-radius: 10px 10px 0 0;
  border-top: solid 1px #c5050c;
  border-left: solid 1px #c5050c;
  border-right: solid 1px #c5050c;
}
.detailInfo .favHeart::after,
.detailInfo .favHeart_checked::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 17px;
  width: 9px;
  height: 16px;
  border-radius: 0 10px 10px 0;
  border-top: solid 1px #c5050c;
  border-right: solid 1px #c5050c;
  border-bottom: solid 1px #c5050c;
}

.detailInfo .favHeart_checked,
.detailInfo .favHeart_checked::before,
.detailInfo .favHeart_checked::after {
  background: #c5050c;
}

.detailInfo .btns {
  display: flex;
  padding: 0 16px;
}

.detailInfo .description {
  margin-top: 28px;
  padding: 0 16px;
  font-size: 20px;
}

.detailInfo .keywords,
.detailInfo .requisites {
  display: flex;
  font-weight: 300;
  margin-top: 32px;
  font-size: 20px;
  font-style: italic;
  padding: 0 16px;
}

.detailInfo .requisites {
  color: #c5050c;
  font-weight: 500;
}

.sectionInfo {
  margin-top: 32px;
}

.sectionTable {
  font-size: 18px;
}

.sectionTable .sectionTh {
  font-weight: 600;
  padding: 8px 0 8px 8px;
  border-top: 1px solid #dadfe1;
  border-bottom: 1px solid #dadfe1;
}

.sectionTable .sectionTd {
  padding: 8px 4px 8px 8px;
  vertical-align: top;
  border-bottom: 1px solid #dadfe1;
  line-height: 24px;
}

.sectionTable .lec {
  background: rgba(100, 101, 105, 0.1);
  font-weight: 500;
}

.sectionTable .fav {
  vertical-align: middle;
  border-right: 1px solid #dadfe1;
  padding: 0;
  cursor: pointer;
}
.sectionTable .fav .favoriteBtn_checked,
.sectionTable .fav .favoriteBtn {
  display: flex;
  position: relative;
  align-items: baseline;
  justify-content: center;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  box-sizing: border-box;
  transform: translateX(24px);
}

.sectionTable .fav .favoriteBtn {
  font-size: 28px;
  color: #fff;
  background: rgba(197, 5, 12, 0.9);
}

.sectionTable .fav:hover .favoriteBtn {
  color: rgba(197, 5, 12, 0.9);
  background: #fff;
  border: 1px solid rgba(197, 5, 12, 0.9);
}

.sectionTable .fav .favoriteBtn_checked {
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  background: #8ac007;
}

.sectionTable .fav:hover .favoriteBtn_checked {
  color: #8ac007;
  background: #fff;
  border: 1px solid#8ac007;
}

.timeTd {
  display: flex;
  margin-bottom: 4px;
}

#addToListTip {
  display: none;
  position: absolute;
  border-radius: 5px;
  padding: 4px 8px;
  background: rgba(100, 101, 105, 0.9);
  color: white;
  font-size: 18px;
  z-index: 100;
}
